<div class="container profileContainer w-75">
	<div class="row profileTitleRow">
		<div class="col profileTitleCol">
			<h1 class="profileHeader row justify-content-center">{{vm.currentUser.firstName}} {{vm.currentUser.lastName}}</h1><br>
		</div>
	</div>
	<div class="row profileEditRow">
		<div class="col profileInfoCol">
			<h4 class="updateFormHeader">Need to Update Your Info?</h4>
			<div class="profileUpdateForm">
				<form>
					<input class="form-control" type="text" placeholder="First name" ng-model="vm.currentUser.firstName">
					<input class="form-control" type="text" placeholder="Last name" ng-model="vm.currentUser.lastName">
					<input class="form-control" type="text" placeholder="Email" ng-model="vm.currentUser.email">
					<button class="" type="button" ng-click="vm.updateUser(); vm.infoUpdated = true" href="#/profile">
						Update Info
					</button>
				</form>
			</div>
		</div>
		<div class="col profileSkillsCol">
			<h4>Your Skills</h4>
			<table>
				<tr ng-repeat="skill in vm.currentUserSkills | orderBy:'skill'">
					<td>{{skill.skill}} </td>
					<td>&nbsp</td> <td>&nbsp</td> <td>&nbsp</td> <td>&nbsp</td> <td>&nbsp</td> <td>&nbsp</td>
					<td>&nbsp</td> <td>&nbsp</td> <td>&nbsp</td> <td>&nbsp</td> <td>&nbsp</td> <td>&nbsp</td>
				
					<td><button class="" type="button" ng-click="vm.destroySkill(skill.id)">X</button></td>
				</tr>
			</table>
			<form>
				<div class="form-group row">
					<input class="form-control" type="text" ng-model="vm.modelSkill.skill" placeholder="Skill">
				</div>
				<div class="form-group row">
					<button class="buttonSub" id="skillBtn" type="submit" ng-click="vm.addUserSkill(vm.modelSkill); vm.modelSkill = {'skill':''};">
						Add New Skill
					</button>
				</div>
			</form> 
		</div>
	</div>
	<div class="row profileDeleteRow">
		<div class="col profileDeleteCol">
			<h6 class="text-center">Landed your dream job and want to delete your account?</h6>
			<button class="d-block mx-auto" id="" type="button" ng-click="vm.deleteUser()">
				Delete Account
			</button>
		</div>
	</div>
</div>