<div class="container registerContainer">
	<div class="row registerRow">
		<div class="col registerCol">
			<h1 class="text-center mt-3">Register</h1>
			<form>
				<input class="form-control w-50 mx-auto mt-3" type="email" ng-model = "user.email" placeholder = "Enter Email"/>
				<input class="form-control w-50 mx-auto mt-3" type="password" ng-model = "user.password" placeholder = "Enter a Password"/>
				<input class="form-control w-50 mx-auto mt-3" type="password" ng-model = "user.confirm" placeholder = "Confirm Password"/>
				<input class="d-block mx-auto mt-3" type="submit" value = "register" ng-click = "vm.registerUser(user)" />
			</form>		
		</div>
	</div>
</div>

