
<div class="navdiv">
	<span>
		<ul class="topnav">
			<li><a ng-show="vm.loggedIn()" href="#/">Home</a></li>
			<li><a ng-show="vm.loggedIn()" href="#/jobs">Jobs</a></li>
			<li><a ng-show="vm.loggedIn()" href="#/contacts">Contacts</a></li>
			<li><a ng-show="vm.loggedIn()" href="#/profile">Profile</a></li>
			<li><a ng-show="vm.loggedIn()" href="#/calendar">Calendar</a></li>
			<li><a ng-hide="vm.loggedIn()" href="#/register">Register</a></li>
			<li><a ng-hide="vm.loggedIn()" href="#/login">Log In</a></li>
			<li class="btnright btn-sm"><logout ng-show="vm.loggedIn()"></logout></li>
		</ul>
	</span>
</div>
