
body {
	background-color: #f9f3e7;
}

#hand {
	cursor: pointer;
}

.buttonSub {
	background-color: #778899;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

.buttonDel {
	background-color: #800020;
	color: white;
	cursor: pointer;
}

/* Navigation Styling */
.navdiv {
	background-color: #778899;
	list-style: none;
	margin: 1px 0px 0px 0px;
	padding: 1px 0px 0px 0px;
	display: inline-block;
	justify-content: space-around;
	border: 2px grey;
	border: outset;
	border-radius: 5px;
	height: 10%;
	width: 100%;
	text-align: center;
}

ul.topnav li a, ul.nav li a:visited {
	color: black !important;
}

ul.topnav li a:hover, ul.nav li a:active {
	color: white !important;
}

ul.topnav li.active a {
	color: white !important;
}

ul.topnav {
	list-style-type: none;
	margin: 1px;
	padding: 1px;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	text-align: center;
	padding: 7px 8px 0px 8px;
	text-decoration: none;
}

ul.topnav li.btnright {
	float: right;
}

.btn {
	padding: 0px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}

logout {
	cursor: pointer;
}

/* Home Page Styling */
#homePageTitle {
	color: #813370;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#homeSubTitle {
	color: #A9A9A9;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#loginButton {
    top: 40%;
    left: 50%;
    cursor: pointer;
    border-radius: 5px;
    
} 

#registerButton {
    top: 45%;
    left: 50%;
    cursor: pointer;
    border-radius: 5px;
}

.motivation {
    top: 65%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}

/* Error Page Styling */
/* .errorimg {
	top: 45%;
    left: 50%;
    height: 150px;
} */

/* Job Page Styling */

.jobAppsHead {
	color: #813370;
    top: 20%;
}

.jobAdd{
	top: 40%;
	width: 60%;
	margin-left: auto;
    margin-right: auto;
}

#addJobBtn {
	text-align: center;
	border-radius: 5px;
}

.jobShow {
	top: 50%;
	width: 100%;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.tableDiv {
	overflow-x: auto;
/* 	font-size: small; */
}

#jobsHeader {
	background-color:#778899;
}

/* table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
} */

#ctrDetailsOnCol {
	text-align: center;
	margin-left: 8px;
	border-radius: 5px;
}

#ctrDeleteOnCol {
	text-align: center;
	margin-left: 12px;
}

.jobEdit, .jobDetails {
	top: 50%;
	width: 80%;
	margin-left: auto;
    margin-right: auto;
}

/* Contact Page Styling */
.contactsHead {
	color: #813370;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.contactForm {
	top: 40%;
	width: 100%;
	margin-left: auto;
    margin-right: auto;
}

.newCtcBtn {
	
}

#ctcHeader {
	background-color:#778899;
}

.sortTypeHeadings {
	text-align: center;
}

/* Profile Page Styling */
.profileHeader {
	color: #813370;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
   	width: 100%
}

#successBanner {
	color: darkgreen;
}

.updateFormHeader {
	top: 20%;
    margin-left: auto;
    margin-right: auto;

}
.profileUpdateForm {
	top: 40%;
	margin-left: auto;
    margin-right: auto;
}

#skillBtn {
	border-radius: 5px;
	
}

#delAcct {
	text-align: center;
	border-radius: 5px;
}

