
body {
	background-color: #f9f3e7;
}

/* Navigation Styling */
.navdiv {
	background-color: #778899;
	list-style: none;
	margin: 1px 0px 0px 0px;
	padding: 1px 0px 0px 0px;
	display: inline-block;
	justify-content: space-around;
	border: 2px grey;
	border: outset;
	border-radius: 5px;
	height: 10%;
	width: 100%;
	text-align: center;
}

ul.topnav li a, ul.nav li a:visited {
	color: black !important;
}

ul.topnav li a:hover, ul.nav li a:active {
	color: gray !important;
}

ul.topnav li.active a {
	color: white !important;
}

ul.topnav {
	list-style-type: none;
	margin: 1px;
	padding: 1px;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	text-align: center;
	padding: 7px 8px 0px 8px;
	text-decoration: none;
}

ul.topnav li.btnright {
	float: right;
}

.btn {
	border-radius: 10%;
	padding: 0px;
	text-align: center;
}

/* Home Page Styling */
#homePageTitle {
	color: #813370;
	position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#homeSubTitle {
	color: #A9A9A9;
	position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#loginButton {
	position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
} 

#registerButton {
	position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Error Page Styling */
.errorimg {
	position: absolute;
	top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
