#projectLogo {
	font-family: 'Alfa Slab One', cursive;
	font-size: 4vh;
}

#navRow {
	width: 75%;
	background-color: black;
	border-radius: 10px;
}

.navLink, .navLink:hover {
	color: white;
	text-align: center;
	display: block;
	text-decoration: none;
}