<div class="container mx-auto" id="homeContainer">
	<div class="row" id="homeTitleRow">
		<div class="col d-flex align-items-end" id="homeCol">
			<h1 class="mx-auto" id="homeTitle">WorkIt</h1>
		</div>
	</div>
	<div class="row" id="homeSubtitleRow">
		<div class="col d-flex align-items-start" id="homeCol">
			<h4 class="mx-auto" id="homeSubtitle">money.</h4>
		</div>
	</div>
	<div class="row" id="homeDescriptionRow">
		<p class="mx-auto">
			Organize your job search. Other text and stuff. Omg.
		</p>
	</div>
</div>
