<div class="container loginContainer w-75">
	<div class="row loginRow">
		<div class="col loginCol justify-content-center">
			<h1 class="text-center mt-3">Login</h1>
			<form class="d-block mx-auto">
				<input class="form-control w-50 mx-auto mt-3" type="email" ng-model="user.email" placeholder="Email">
				<input class="form-control w-50 mx-auto mt-3" type="password" ng-model="user.password" placeholder="Password">
				<input class="d-block mx-auto mt-3" type="submit" value="Login" ng-click="vm.loginUser(user)">
			</form>
		</div>
	</div>
</div>
