<div class="container" id="jobsContainer">
	<div class="row pt-3" id="jobsTitleRow" ng-show="!vm.selected">
		<div class="col" id="jobsTitleCol">
			<h3 class="text-center">Add New Job</h3>
		</div>
	</div>
	<div class="row" id="jobsFormRow" ng-show="!vm.selected" >
		<div class="col" id="jobsFormCol">
			<form class="form-group w-50 mx-auto">
				<input class="form-control" type="text" ng-model="job.title" placeholder="Job Title"><br>
				<input class="form-control" type="text" ng-model="job.company" placeholder="Company"><br>
				<button class="d-block mx-auto" type="submit" ng-click="vm.addJob(job); job = {}">Add Job</button><br>
			</form>		
		</div>
	</div>
	<div class="row pt-3" id="jobsTableRow" ng-show="!vm.selected">
		<div class="col" id="jobsTableCol">
			<h3 class="text-center">Your Applications</h3>
			<table class="table">
				<thead id=""> 
					<tr>
						<th>Title</th>
						<th>Company</th>
						<th>Date Applied</th>
						<th>Job Details</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tr ng-repeat="job in vm.jobs | orderBy:'id'">
					<td id="hand" ng-click="vm.displayJob(job)">{{job.title}}</td>
					<td id="hand" ng-click="vm.displayJob(job)">{{job.company}}</td>
					<td id="hand" ng-click="vm.displayJob(job)">{{job.createdDate}}</td>
					<td><button class="buttonSub" id="ctrDetailsOnCol" type="submit" value ="Details" ng-click="vm.displayJob(job)">Details</button></td>
					<td><button class="buttonDel" id="ctrDeleteOnCol" ng-click="vm.destroyJob(job.id)">x</button></td>
				</tr>
			</table>
		</div>
	</div>
	<!-- <div class="row pt-3" id="jobsThisWeekRow" ng-show="!vm.selected">
		<div class="col" id="jobsThisWeekCol">
			<h3 class="text-center">Completed This Week</h3>
			<div class="thisWeek">
				<table class="table">
					<thead id="jobsHeader">
					<tr>
						<th>Job Title</th>
					</tr>
					</thead>
					<tr ng-repeat="job in vm.jobsThisWeek()">
						<td >{{job.title}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div> -->
	<div class="row" id="jobsDetailRow" ng-show="vm.selected && !vm.editJob">
		<div class="col" id="jobsDetailCol">
			<h1 class="text-center">Job Details</h1>
			<table class="table mx-auto w-75">
				<tr>
					<td>Title:</td>
					<td class="text-right">{{vm.selected.title}}</td>
				</tr>
				<tr>
					<td>Company:</td>
					<td class="text-right">{{vm.selected.company}}</td>
				</tr>
				<tr>
					<td>Job Posting URL:</td>
					<td class="text-right"><a href ="{{vm.selected.link}}" target="_blank">{{vm.selected.link}}</a></td>
				</tr>
				<tr>
					<td>Address:</td>
					<td class="text-right">
						<ul class="jobsList">
							<li>{{vm.selected.address.street}}</li>
							<li>{{vm.selected.address.city}}, {{vm.selected.address.state}} {{vm.selected.address.zip}}</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>Date Applied:</td>
					<td class="text-right">{{vm.selected.createdDate}}</td>
				</tr>
				<tr>
					<td>
						Skills Required:
					</td>		
					<td class="text-right">	
						<ul class="jobsList">
							<li ng-repeat="skill in vm.selected.jobSkills">
								{{skill.skill}}
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>Notes:</td>
					<td class="text-right">{{vm.selected.note}}</td>
				</tr>
			</table>
			<div class="w-50 mx-auto pt-3">
				<div class="float-left">
					<input type="submit" ng-click="vm.setEditJob()" value="Edit">
				</div>
				<div class="float-right">
					<button type="button" ng-click="vm.displayAllJobs()">
						Back to Jobs
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row mx-auto" id="jobsEditRow" ng-show="vm.editJob">
		<div class="col" id="jobsEditCol">
			<h1 class="text-center">Edit Job Details</h1>
			<form class="edit-form mx-auto">
				<div class="form-group">
					<label for="jobTitle" class="col-form-label">
						Job Title:
					</label> 
					<input id="jobTitle" class="form-control" type="text" ng-model="vm.editJob.title" placeholder="Job Title">
					<label for="jobCompany" class="col-form-label">
						Company: 
					</label> 
					<input id="jobCompany" class="form-control" type="text" ng-model="vm.editJob.company" placeholder="Company">
					<label for="jobUrl" class="col-form-label">
						Job Posting URL: 
					</label> 
					<input id="jobUrl" class="form-control" type="text" ng-model="vm.editJob.link" placeholder="'http://' needed">
					<label for="jobStreet" class="col-form-label">
						Street: 
					</label> 
					<input id="jobStreet" class="form-control" type="text" ng-model="vm.editJob.address.street" placeholder="Street">
					<label for="jobCity" class="col-form-label">
						City: 
					</label> 
					<input id="jobCity" class="form-control" type="text" ng-model="vm.editJob.address.city" placeholder="City">
					<label for="jobState" class="col-form-label">
						State: 
					</label> 
					<input id="jobState" class="form-control" type="text" ng-model="vm.editJob.address.state" placeholder="State">
					<label for="jobZip" class="col-form-label">
						Zip: 
					</label> 
					<input id="jobZip" class="form-control" type="text" ng-model="vm.editJob.address.zip" placeholder="Zip (ie. 80909)">
					<label for="jobCountry" class="col-form-label">
						Country: 
					</label> 
					<input id="jobCountry" class="form-control" type="text" ng-model="vm.editJob.address.country" placeholder="Country">
					<label for="jobNotes" class="col-form-label">
						Notes:
					</label> 
					<textarea id="jobNotes" rows="4" cols="50" class="form-control" type="text" ng-model="vm.editJob.note" placeholder="Notes"></textarea>
					<label class="col-form-label">
						Skills:
					</label> 
					<button class="" type="button" ng-click="vm.addJobSkill()">+</button>
					<div ng-repeat="skill in vm.editJob.jobSkills">
						<input type="text" ng-model="skill.skill">
					</div>
				</div>
			</form>
			<button type="button" class="" ng-click="vm.updateJob(vm.editJob)">Save</button>
			<button type="button" class="" id="" ng-click="vm.editJob=null">Cancel</button>
		</div>
	</div>
</div>