

<h1>Show all Jobs</h1>

<!-- ADD JOB FORM -->
<form ng-show="!vm.selected">
	<input type="text" ng-model="job.title" placeholder="Job Title"/></br>
	<input type="text" ng-model="job.company" placeholder="Company"/></br>
	<input type="submit" ng-click="vm.addJob(job); job = {}" value="Add Job"/></br>
</form>

<!-- INDEX LIST OF JOBS -->
<div ng-show="!vm.selected">
	<div>
		<div class="title">Job Title</div>
		<div class="company">Company</div>
		<div class="applyDate">Date Applied</div>  <!-- Or does date updated make more sense? -->
	</div>
</br>
Hard-coded example below v v v
</br>
<div>Junior Developer / CACI / Jan 12, 2018</div>

<div ng-repeat="job in vm.jobs | orderBy:'id'">
	<div ng-click="vm.displayJob(job)"/>
		<div>{{job.title}}</div>
		<div>{{job.company}}</div>
		<div>{{job.created_date}}</div>		 	
	</div>
	<span> 
		<input type="checkbox" ng-model="job.active" ng-change="vm.updateJob(job)" />
		<button class="red" ng-click="vm.deleteJob(job.id)">x</button>
	</span>

</div>

<!-- SHOW DETAIL VIEW -->
<div ng-show="vm.selected && !vm.editJob">
	<table class="show-detail">
		<tr>Job Title: {{vm.selected.title}}</tr><br />
		<tr>Company: {{vm.selected.company}}</tr><br />
		<tr>Job Posting URL: {{vm.selected.link}}</tr><br />
		<tr>Address: {{vm.selected.address}}</tr><br />
		<tr>Date Applied: {{vm.selected.createdDate}}</tr><br />
		<tr>Last Updated: {{vm.selected.lastUpdate}}</tr><br />
		
		<tr><input type="submit" ng-click="vm.setEditJob()" value="Edit"/></tr>
	</table>
	<button type="button" ng-click="vm.displayTable()">Back to Jobs</button>
</div>

<!-- SHOW EDIT VIEW -->
<div ng-show="vm.editJob">
	<form class="edit-form">
		Job Title: <input type="text" ng-model="vm.editJob.title" placeholder="Job Title" /><br />
		Company <input type="text" ng-model="vm.editJob.company" placeholder="Company"/><br />
		Job Posting URL: <input type="text" ng-model="vm.editJob.link" placeholder="URL"/><br />
		Address: <input type="text" ng-model="vm.editJob.address" placeholder="Address"/><br />
		Date Applied: <input type="text" ng-model="vm.editJob.dueDate" placeholder="Date Applied"/><br />
		Last Updated: <input type="text" ng-model="vm.editJob.lastUpdate" placeholder="Last Updated"/><br />
		Active: <input type="checkbox" ng-model="vm.editTodo.active"/>  -->
	</form>
	
	<button type="button" ng-click="vm.updateJob(vm.editJob)">Save</button>
	<button type="button" ng-click="vm.editJob=null">Cancel</button>
</div>


<!-- 
<h1 ng-class="vm.incompleteWarning()">To Do List {{vm.countTasks()}}</h1>

<form>
	Show All Tasks <input type="checkbox" ng-model="vm.showAll"/>
</form>

TABLE INDEX OF TODOS
<table ng-show="!vm.selected">
	<tr>
		<th>Task</th>
		<th>Check</th>
		<th>Completed</th>
	</tr>

	<tr ng-repeat="todo in vm.todos | incompleteFilter: vm.showAll | orderBy: id">
		<td ng-class="(todo.completed) ? 'strike' : '';" ng-click="vm.displayTodo(todo)"/>{{todo.task}}</td>
		
		 OR ng-class="vm.crossOut(todo)"
		
		<td><input type="checkbox" ng-model="todo.completed" ng-change="vm.updateTodo(todo)" /></td>
		<td>{{todo.completed}}</td>
		<td><button class="red" ng-click="vm.deleteTodo(todo.id)">x</button>
	</tr>
</table>


 -->