#homeContainer {
	width: 75%;
}

#homeTitleRow, #homeSubtitleRow {
	height: 25vh;
}

#homeCol {
	width: 100%;
}

#homeTitle, #homeSubtitle {
	font-family: 'Alfa Slab One', cursive;
	text-align: center;
}

#homeTitle {
	font-size: 8vh;
}

#homeSubtitle {
	font-size: 3vh;
}

#homeDescriptionRow {
	font-size: 1.5em;
	text-align: center;
}