<h1 ng-show="!vm.selectedContact">Contacts</h1>

<!-- New contact form -->
<form ng-show="!vm.selectedContact">
	<input type="text" ng-model="contact.firstName" placeholder="First name"><br>
	<input type="text" ng-model="contact.lastName" placeholder="Last name"><br>
	<input type="text" ng-model="contact.title" placeholder="Title"><br>
	<input type="text" ng-model="contact.company" placeholder="Company"><br>
	<input type="text" ng-model="contact.phone" placeholder="Phone"><br>
	<input type="text" ng-model="contact.email" placeholder="Email"><br>
	<input type="submit" ng-click="vm.addContact(contact); contact = {}" value="Add Contact"/><br>
</form>

<!-- Display list of contacts -->

<div ng-repeat="contact in vm.contacts | orderBy:'lastName'">
	<div ng-click="vm.displayContact(contact)">
		<div>Company: {{contact.company}}</div>		 	
		<div>Name: {{contact.firstName}} {{contact.lastName}}</div>
	</div>
<!-- 	<span> 
		<input type="checkbox" ng-model="job.active" ng-change="vm.updateJob(job)" />
		<button ng-click="vm.destroyJob(job.id)">x</button>
	</span> -->
</div>