<h1 class="contactsHead row justify-content-center" ng-show="!vm.selectedContact">Contacts</h1>

<div class="row justify-content-center" ng-hide="vm.editContact">
	<button class="btn buttonSub" ng-click="vm.newXtact()">New Contact</button>
</div>
<br>

<!-- New contact form -->
<div class="row justify-content-center" ng-show="vm.newContact">
	<form ng-show="!vm.selectedContact">
				<input class="form-control" type="text" ng-model="contact.firstName" placeholder="First name">
				<input class="form-control" type="text" ng-model="contact.lastName" placeholder="Last name">
				<input class="form-control" type="text" ng-model="contact.title" placeholder="Title">
				<input class="form-control" type="text" ng-model="contact.company" placeholder="Company">
				<input class="form-control" type="text" ng-model="contact.phone" placeholder="Phone">
				<input class="form-control" type="text" ng-model="contact.email" placeholder="Email">
				<textarea rows="4" cols="50" class="form-control" type="text" ng-model="contact.note" placeholder="Notes">></textarea>
				<input class="form-control buttonSub" type="submit" ng-click="vm.addContact(contact); contact = {}; vm.newContact= null" value="Add Contact">
				<input class="form-control buttonDel" type="submit" ng-click="vm.newContact= null" value="Cancel">
	</form>
</div>
<br>

<!-- Sort functionality for contacts -->

<div class="sortTypeHeadings" ng-show="!vm.selectedContact">
	<span> <strong>Sort By:</strong> <a
		ng-click="vm.sortType = 'company'"> <strong>Company |</strong></a> <a
		ng-click="vm.sortType = 'lastName'"> <strong>Last Name |</strong></a>
		<a ng-click="vm.sortType = 'firstName'"> <strong>First
				Name </strong></a>
	</span>
</div>
<br>

<!-- Contacts Table -->
<div class="container tableDiv" ng-show="!vm.selectedContact">

	<table class="table table-hover table-sm">
		<thead id=ctcHeader>
			<tr>
				<th id="ctcTbl">Last Name</th>
				<th id="ctcTbl">First Name</th>
				<th id="ctcTbl">Company</th>
				<th id="ctcTbl">Title</th>
				<th id="ctcTbl">Email</th>
				<th id="ctcTbl">Phone Number</th>
				<th id="ctcTbl">Last Contacted</th>
				<th>Delete</th>
			</tr>
		</thead>

		<tr ng-repeat="contact in vm.contacts | orderBy: vm.sortType">
			<td ng-click="vm.setEditContact(contact)" id="ctcData">{{contact.lastName}}
			</td>
			<td ng-click="vm.setEditContact(contact)" id="ctcData">{{contact.firstName}}
			</td>
			<td ng-click="vm.setEditContact(contact)" id="ctcData">{{contact.company}}
			</td>
			<td ng-click="vm.setEditContact(contact)" id="ctcData">{{contact.title}}
			</td>
			<td ng-click="vm.setEditContact(contact)" id="ctcData">{{contact.email}}
			</td>
			<td ng-click="vm.setEditContact(contact)" id="ctcData">{{contact.phone}}
			</td>
			<td ng-click="vm.setEditContact(contact)" id="ctcData">{{contact.lastContactDate}}
			</td>
			<td><button class="buttonDel" id="ctrDeleteOnCol" ng-click="vm.destroyContact(contact.id)">X</button></td>
		</tr>
	</table>
</div>


<!-- EDIT VIEW -->

<h1 class = "contactsHead row justify-content-center" ng-show="vm.editContact">Edit Contact</h1>

<div id=contactEdit ng-show="vm.editContact">
	<div class="row justify-content-center">
		<div class="col-md"></div>
		<div class="col-md">
			<form id="edit-contact-form">
		
				First Name: <input  class="form-control" type="text" ng-model="vm.editContact.firstName" placeholder="First Name"><br> 
				Last Name: <input  class="form-control" type="text" ng-model="vm.editContact.lastName" placeholder="Last Name"><br> 
				Company: <input  class="form-control" type="text" ng-model="vm.editContact.company" placeholder="Company"><br> 
				Title: <input  class="form-control" ype="text" ng-model="vm.editContact.title" placeholder="Title"><br> 
				Email: <input  class="form-control" type="text" ng-model="vm.editContact.email" placeholder="Email"><br>
				Phone: <input  class="form-control" type="text" ng-model="vm.editContact.phone" placeholder="Phone"><br> 
				Notes: <textarea rows="4" cols="50" class="form-control" type="text" ng-model="vm.editContact.note" placeholder="Notes"></textarea><br>
				Last Contacted: <input  class="form-control" type="text" ng-model="vm.editContact.lastContactDate" placeholder="YYYY-MM-DD"><br>
			</form>
			<a>Last Updated: {{vm.editContact.lastUpdate | date:'yyyy-MM-dd'}}</a> <br> 
			<a>Date Added: {{vm.editContact.createDate | date:'yyyy-MM-dd'}} </a> <br> 
			<br>
		
		
			<button type="button" ng-click="vm.updateContact(vm.editContact)" href="#/contacts">Save</button>
			<button type="button" ng-click="vm.cancel()">Cancel</button>
		</div>
		<div class="col-md"></div>
	</div>
</div>














<!-- SHOW DETAILED VIEW -->
<!-- <div ng-show=vm.selectedContact && !vm.editContact>
<h2>Contact Details</h2> -->

<!-- 	<span> 
		<input type="checkbox" ng-model="job.active" ng-change="vm.updateJob(job)" />
		<button ng-click="vm.destroyJob(job.id)">x</button>
	</span> -->